
# datalad (0.12.5)
# data distribution geared toward scientific datasets
datalad==0.12.5

# cookiecutter (1.7.0)
# A command-line utility that creates projects from project templates, e.g. creating a Python package project from a Python package project template.
cookiecutter==1.7.0
